@model Portfolio.Models.UserModel
@using Portfolio.Models
@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<RestrictionModel> restrictionList = (List<RestrictionModel>)Session["RestrictionList"];
    List<GenreModel> genreList = (List<GenreModel>)Session["GenreList"];
}

<h2>Profile</h2>
<h3>@Html.DisplayFor(m => m.userName)</h3>
<br />
<h2>Stories Edited: @Html.DisplayFor(m => m.userEdited)</h2>
<br />
<h2>Stories Created:</h2>
@if (Model.userStoryList.Count == 0)
{
    <h3>This user has no stories!</h3>
}
else
{

    foreach (StoryModel story in Model.userStoryList)
    {
        @* check if a story is public OR if this is the current user's profile *@
        if (story.storyPublic || Model.userName.Equals((string)Session["UserName"]))
        {
            @* get the restriction for this story *@
            string storyRestrictionName = "";
            foreach (RestrictionModel restriction in restrictionList)
            {
                if (restriction.restrictionID == story.storyRestrictionID)
                {
                    storyRestrictionName = restriction.restrictionName;
                }
            }

            @* get the genre for this story *@
            string storyGenreName = "";
            foreach (GenreModel genre in genreList)
            {
                if (genre.genreID == story.storyGenreID)
                {
                    storyGenreName = genre.genreName;
                }
            }

            <h3>@story.storyTitle - @storyGenreName - @storyRestrictionName - @story.storyRating Stars</h3>
        }
        else
        {
            <h3>This user has no public stories!</h3>
        }
    }
}