@model Portfolio.Models.StoryViewModel
@using Portfolio.Models
@{
    ViewBag.Title = "ReadStory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayFor(m => m.singleStory.storyTitle)</h2>